h4 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
body {
  background: rgb(156, 157, 175);
  background: linear-gradient(
    90deg,
    rgba(156, 157, 175, 0.33) 0%,
    rgba(245, 245, 245, 1) 48%,
    rgba(156, 157, 175, 0.3295693277310925) 100%
  );
}
ol {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 5%;
}
p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 4%;
}
a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 4%;
  color: crimson;
}
img {
  width: 50%;
  height: 50%;
  padding-left: 25%;
}
