h4 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
body {
  background: rgb(19, 24, 199);
  background: linear-gradient(
    90deg,
    rgba(19, 24, 199, 0.6376925770308124) 0%,
    rgba(43, 163, 199, 1) 48%,
    rgba(19, 24, 199, 0.3295693277310925) 100%
  );
}
ol {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
